img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  background:antiquewhite;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4; text-align: center;
}

ul, ol {
  /* white-space: nowrap; */
  /* height: 2em; */
  /* width: 100%; */
}

li {
  /* list-style-type: none; */
  width: 800px;
  /* overflow-x: auto; change to hidden if that's what you want */
  /* float: left; */
  /* margin-right: 10px; */
}
